* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #e6b3b3;
  border-radius: 2px;
}
body {
  margin: 0px;
  font-family: "microsoft yahei", "wenquanyi micro hei";
  overflow-y: scroll;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 34px;
}
body #banner {
  box-shadow: 0px 1px 0px #f5f5f5;
  margin-bottom: 40px;
  padding: 10px 0px 10px 100px;
}
body #banner>*:first-child {
  font-size: 46px;
}
body #banner .name,
body #banner .seperate {
  margin-right: 8px;
  color: #e6e6e6;
}
body #banner .seperate {
  color: #d1d1fa;
}
body #banner a.name {
  color: #a3a3f5;
}
body #box {
  height: 100%;
  margin: 0px auto;
  width: 1200px;
}
body #box #side {
  float: left;
  width: 340px;
  display: inline-block;
  height: 100%;
  line-height: 30px;
  font-size: 16px;
  text-align: right;
  padding-right: 20px;
}
body #box #side .curr {
  color: #000;
  background: #e6e6e6;
}
body #box #side a {
  padding: 2px 10px;
  display: block;
}
body #box #body {
  box-shadow: -1px 0px #f0f0f0;
  padding-left: 40px;
  display: inline-block;
  font-size: 16px;
  width: 800px;
  line-height: 34px;
  padding-bottom: 400px;
}
body #box #body code,
body #box #body pre {
  background: #eeecee;
  border-radius: 4px;
}
body #box #body p {
  margin: 24px 0px;
}
body #box #body p>code,
body #box #body pre>code {
  padding: 2px 6px;
  font-family: Monaco;
}
body #box #body pre {
  margin: 0px;
  margin-left: 0px;
  padding: 2px 8px;
  font-family: Monaco;
  overflow-x: auto;
}
a {
  text-decoration: none;
  color: #a3a3f5;
  max-width: 500px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  height: 34px;
}
#copyright {
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #ccc;
  margin-top: 100px;
  bottom: 0px;
}
#page {
  margin: 0px auto;
  padding: 40px 10px;
  width: 800px;
}
#page a {
  text-decoration: none;
  color: #a3a3f5;
}
#page p {
  margin: 0px;
  line-height: 30px;
}
blockquote {
  color: #e08585;
}
.highlight {
  overflow: auto;
}
hr {
  width: 40%;
  margin-left: 0px;
  background-color: #ccc;
  border-width: 0px;
  padding: 1px 0px 0px;
}
