
*
  box-sizing border-box
  -moz-box-sizing border-box
  
::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,80)
  border-radius 2px

body
  margin 0px
  font-family "microsoft yahei", "wenquanyi micro hei"
  overflow-y scroll
  font-weight 600
  font-size 18px
  letter-spacing 0px
  line-height 34px

  #banner
    box-shadow 0px 1px 0px hsl(0,0,96 )
    margin-bottom 40px
    padding 10px 0px 10px 100px

    &>*:first-child
      font-size 46px

    .name, .seperate
      margin-right 8px
      color hsl(0,0,90)

    .seperate
      color hsl(240,80,90)

    a.name
      color hsl(240,80,80)

  #box
    height 100%
    margin 0px auto
    width 1200px

    #side
      float left
      width 340px
      display inline-block
      height 100%
      line-height 30px
      font-size 16px
      text-align right
      padding-right 20px

      .curr
        color black
        background hsl(0,0,90)

      a
        padding 2px 10px
        display block

    #body
      box-shadow -1px 0px hsl(0,0,94)
      padding-left 40px
      display inline-block
      font-size 16px
      width 800px
      line-height 34px
      padding-bottom 400px

      code, pre
        background hsl(300, 6, 93)
        border-radius 4px

      p
        margin 24px 0px

      p>code, pre>code
        padding 2px 6px
        font-family Monaco

      pre
        margin 0px
        margin-left 0px
        padding 2px 8px
        font-family Monaco
        overflow-x auto

a
  text-decoration none
  color hsl(240,80,80)
  max-width 500px
  text-overflow ellipsis
  display inline-block
  overflow hidden
  height 34px

#copyright
  text-align center
  width 100%
  font-size 12px
  color hsl(0,0,80)
  margin-top 100px
  bottom 0px

#page
  margin 0px auto
  padding 40px 10px
  width 800px

  a
    text-decoration none
    color hsl(240,80,80)

  p
    margin 0px
    line-height 30px

blockquote
  color hsl(0,60,70)

.highlight
  overflow auto

hr
  width 40%
  margin-left 0px
  background-color hsl(0,0,80)
  border-width 0px
  padding 1px 0px 0px